@import "variables.css";

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-image: url('pizza_cat.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
}

.app {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 16px;
    max-width: 900px;
    margin: auto;
}

.app__connect {
    width: min-content;
    flex-shrink: 1;
    height: min-content;
    background-color: #ffcaca;
    margin: 8px;
}

.app__chat {
    height: var(--height-app);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 8px auto;
}

.app__chat > * {
    width: 100%;
}

.conversation-container {
    border: var(--border-conversation-container);
    height: var(--height-conversation-container);
    background-color: var(--background-conversation-container);
    border-radius: 4px;
    margin-bottom: var(--margin-bottom-conversation-container);
    padding: var(--padding-conversation-container);
    position: relative;
    display: flex;
    flex-direction: column;
}

.chatbox__form {
    height: var(--height-chatbox);
    display: flex;
    border-radius: 4px;
} 

.chatbox__form > input[type="button"] {
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--black);
}

.chatbox__form > textarea {
    flex-grow: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    resize: none;
}

/* CLASSES FOR MESSAGES */

/* FROM ME */
.message--me {
    border-radius: 24px;
    background-color: #d1ffce;
    padding: 16px;
    width: max-content;
    font-size: 16px;
    position: relative;
    align-self: flex-end;
    margin: 0;
    overflow-wrap: break-word;
    max-width: 50%;
    margin: 4px 0;
}

/* FROM U <3 */
.message--u {
    border-radius: 24px;
    background-color: var(--light-blue);
    padding: 16px;
    width: max-content;
    overflow-wrap: break-word;
    font-size: 16px;
    position: relative;
    left: 0%;
    max-width: 50%;
    margin: 4px 0;
}

/* CONNECT BOX */

.connect_box {
    min-height: 400px;
    width: 300px;
    overflow-wrap: break-word;
    position: absolute;
    z-index: 1;
    background: #ffffff;
    border: 1px solid #000000;
    top: 0;
    left: 0;
}

.connect_box__textarea {
    height: 100%;
    width: 90%;
    resize: vertical;
}

.connect__form {
    padding: 8px;
}

.connected {
    display: none;
}